.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .result-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }